.mat-dialog-container {
    max-width: none !important;
}

#info-modal {
    background-color: var(--background);
    color: var(--text);
    outline: none;
    border: none;
    width: 100vw;
    border-radius: 3px;
    padding: 0;
}

#info-modal::backdrop {
    backdrop-filter: brightness(50%);
    animation: fadein 0.15s ease forwards;
}

#info-modal[open] {
    animation: show 0.15s ease forwards;
}

#info-modal.close::backdrop {
    backdrop-filter: brightness(50%);
    animation: fadeout 0.15s ease forwards;
}

#info-modal.close[open] {
    animation: hide 0.15s ease backwards;
}

@keyframes show {
    from {
        opacity: 0;
        transform: translateY(10%);
    }
    to {
        opacity: 1;
        transform: translateY(0%);
    }
}

@keyframes hide {
    from {
        opacity: 1;
        transform: translateY(0%);
    }
    to {
        opacity: 0;
        transform: translateY(10%);
    }
}

@keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes fadeout {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

#info-div {
    padding-left: 3.5vw;
    padding-right: 3.5vw;
    margin-top: 1rem;
}

.info-heading {
    font-family: 'Feather Bold';
}

h1 {
    font-weight: 700;
    margin-block-start: 0;
    color: #ffc800;
}

h2 {
    font-weight: 300;
}

.info-row {
    margin-top: 0.3rem;
    margin-bottom: 0.3rem;
}

.info-text {
    margin-bottom: 1.3rem;
}

p {
    margin-bottom: 0;
}

ul {
    padding-inline-start: 20px;
}

hr {
    margin-bottom: 1rem;
    height: 2px;
}

@media screen and (min-width: 1024px) {
    #info-modal {
        max-width: 32vw;
    }
    #info-div {
        padding: 1.2vw;
    }
}

::-webkit-scrollbar {
    width: 16px;
}

::-webkit-scrollbar-track {
    background-color: transparent;
}

::-webkit-scrollbar-thumb {
    background-color: var(--secondary_light);
    border-radius: 20px;
    border: 6px solid transparent;
    background-clip: content-box;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #a8bbbf;
}
::-webkit-scrollbar-corner {
    background: rgba(0, 0, 0, 0);
}
