---
import Layout from "../layouts/Layout.astro";
import Gameboard from "../components/Gameboard.jsx";

const text = "#FFFFFF";
const background = "#131F22";
const primary = "#FFC800";
const secondary = "#202F36";
const secondary_light = "#52656D";
const accent = "#AA572A";
// #37464F
---

<Layout title="weedle">
    <main>
        <header>weedle</header>
        <div class="pokebox">
            <img class="pokeimg" src="807.png" />
            <table class="pokeinfo">
                <tr>
                    <td class="property">GEN</td>
                    <td class="property-value">IV</td>
                </tr>
                <tr>
                    <td class="property">SPECIES</td>
                    <td class="property-value">Thunderclap</td>
                </tr>
                <tr>
                    <td class="property">HEIGHT</td>
                    <td class="property-value">1.5 m</td>
                </tr>
                <tr>
                    <td class="property">WEIGHT</td>
                    <td class="property-value">44.5 kg</td>
                </tr>
            </table>
        </div>
        <Gameboard client:only="react" />
        <!-- <Keyboard /> -->
    </main>
</Layout>

<style
    define:vars={{
        text,
        background,
        primary,
        secondary,
        secondary_light,
        accent,
    }}
>
    @import url("https://db.onlinewebfonts.com/c/14936bb7a4b6575fd2eee80a3ab52cc2?family=Feather+Bold");

    * {
        box-sizing: border-box;
    }
    header {
        /* padding: 1.2rem; */
        padding: 1.5vh;
        font-size: 2rem;
        font-weight: 500;
        font-family: "Feather Bold";
        color: var(--primary);
        text-align: center;
        background-color: var(--secondary);
    }
    hr {
        display: block;
        height: 1px;
        border: 0;
        border-top: 1px solid var(--secondary);
        padding: 0;
    }
    main {
        margin: 0;
        padding: 0;
        max-width: 60ch;
        background-color: var(--background);
        color: var(--text);
    }
    .generation {
        text-align: center;
        font-size: x-large;
        padding: 0.5rem;
    }
    .pokebox {
        /* background-color: var(--secondary); */
        border: 0.1rem solid var(--secondary);
        margin: 1rem;
        border-radius: 0.3rem;
        display: flex;
        flex-direction: row;
    }
    .pokeimg {
        height: auto;
        width: 50%;
        padding: 1rem;
    }
    .pokeinfo {
        border-spacing: 0.5rem;
        border-collapse: collapse;
        width: 50%;
    }
    .pokeinfo tr {
        border-bottom: 0.1rem solid var(--secondary);
    }
    .pokeinfo tr:last-child {
        border: none;
    }
    .property {
        color: var(--secondary_light);
        font-size: smaller;
        border-left: 0.1rem solid var(--secondary);
        padding-left: 0.5rem;
        padding-right: 0.3rem;
    }
</style>
