---
import Layout from "../layouts/Layout.astro";
import Pokebox from "../components/Pokebox.astro";
import Gameboard from "../components/Gameboard.jsx";

const text = "#FFFFFF";
const background = "#131F22";
const primary = "#FFC800";
const secondary = "#202F36";
const secondary_light = "#52656D";
const accent = "#AA572A";
// #37464F
---

<Layout title="weedle">
    <main>
        <header>weedle</header>
        <Pokebox
            id={807}
            gen="IV"
            species="Thunderclap"
            height="1.5 m"
            weight="44.5 kg"
        />
        <Gameboard client:only="react" />
    </main>
</Layout>

<style
    define:vars={{
        text,
        background,
        primary,
        secondary,
        secondary_light,
        accent,
    }}
>
    @import url("https://db.onlinewebfonts.com/c/14936bb7a4b6575fd2eee80a3ab52cc2?family=Feather+Bold");

    * {
        box-sizing: border-box;
    }
    header {
        padding: 1.2vh;
        font-size: 2rem;
        font-weight: 500;
        font-family: "Feather Bold";
        color: var(--primary);
        text-align: center;
        background-color: var(--secondary);
    }
    hr {
        display: block;
        height: 1px;
        border: 0;
        border-top: 1px solid var(--secondary);
        padding: 0;
    }
    main {
        margin: 0;
        padding: 0;
        max-width: 100vw;
        background-color: var(--background);
        color: var(--text);
    }
</style>
