.mat-dialog-container {
    max-width: none !important;
}

#stats-modal {
    background-color: var(--background);
    color: var(--text);
    outline: none;
    border: none;
    width: 100vw;
    border-radius: 3px;
    padding: 0;
}

#stats-modal::backdrop {
    backdrop-filter: brightness(50%);
    animation: fadein 0.15s ease forwards;
}

#stats-modal[open] {
    animation: show 0.15s ease forwards;
}

#stats-modal.close::backdrop {
    backdrop-filter: brightness(50%);
    animation: fadeout 0.15s ease forwards;
}

#stats-modal.close[open] {
    animation: hide 0.15s ease backwards;
}

@keyframes show {
    from {
        opacity: 0;
        transform: translateY(0%);
    }
    to {
        opacity: 1;
        transform: translateY(-10%);
    }
}

@keyframes hide {
    from {
        opacity: 1;
        transform: translateY(0%);
    }
    to {
        opacity: 0;
        transform: translateY(10%);
    }
}

@keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes fadeout {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

#stats-div {
    padding-left: 3.5vw;
    padding-right: 3.5vw;
}

.stats-heading {
    font-family: 'Feather Bold';
}

h1 {
    font-weight: 700;
    margin-block-start: 0;
    color: #ffc800;
}

h2 {
    font-weight: 300;
}

.stats-row {
    margin-top: 0.3rem;
    margin-bottom: 0.3rem;
}

.stats-text {
    margin-bottom: 1.3rem;
}

p {
    margin-bottom: 0;
}

ul {
    padding-inline-start: 20px;
}

hr {
    margin-bottom: 1rem;
}

@media screen and (min-width: 1024px) {
    #stats-modal {
        max-width: 32vw;
    }
    #stats-div {
        padding: 1.2vw;
    }
}
