.mat-dialog-container {
    max-width: none !important;
}

#stats-modal {
    background-color: var(--background);
    outline: none;
    border: none;
    width: 100vw;
}

#stats-modal::backdrop {
    backdrop-filter: brightness(50%);
}

#stats-modal[open] {
    animation: show 0.3s ease normal;
}

#stats-modal.hide-modal {
    animation: hide 0.3s ease normal;
}

@keyframes show {
    from {
        opacity: 0%;
        transform: translateY(1000%);
    }
    to {
        opacity: 100%;
        transform: translateY(0%);
    }
}

@keyframes hide {
    to {
        transform: translateY(-110%);
    }
}

@media screen and (min-width: 1024px) {
    #stats-modal {
        max-width: 32vw;
    }
}