@font-face {
    font-family: 'Feather Bold';
    src: url('https://db.onlinewebfonts.com/t/14936bb7a4b6575fd2eee80a3ab52cc2.eot');
    src:
        url('https://db.onlinewebfonts.com/t/14936bb7a4b6575fd2eee80a3ab52cc2.eot?#iefix')
            format('embedded-opentype'),
        url('https://db.onlinewebfonts.com/t/14936bb7a4b6575fd2eee80a3ab52cc2.woff')
            format('woff'),
        url('https://db.onlinewebfonts.com/t/14936bb7a4b6575fd2eee80a3ab52cc2.woff2')
            format('woff2'),
        url('https://db.onlinewebfonts.com/t/14936bb7a4b6575fd2eee80a3ab52cc2.ttf')
            format('truetype'),
        url('https://db.onlinewebfonts.com/t/14936bb7a4b6575fd2eee80a3ab52cc2.svg#Feather Bold')
            format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'DIN Next Rounded LT W01 Regular';
    src: url('https://db.onlinewebfonts.com/t/ab596f21664c5582567537d241e2a53e.eot');
    src:
        url('https://db.onlinewebfonts.com/t/ab596f21664c5582567537d241e2a53e.eot?#iefix')
            format('embedded-opentype'),
        url('https://db.onlinewebfonts.com/t/ab596f21664c5582567537d241e2a53e.woff')
            format('woff'),
        url('https://db.onlinewebfonts.com/t/ab596f21664c5582567537d241e2a53e.woff2')
            format('woff2'),
        url('https://db.onlinewebfonts.com/t/ab596f21664c5582567537d241e2a53e.ttf')
            format('truetype'),
        url('https://db.onlinewebfonts.com/t/ab596f21664c5582567537d241e2a53e.svg#DIN Next Rounded LT W01 Regular')
            format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

* {
    --text: #ffffff;
    --background: #131f22;
    --primary: #ffc800;
    --secondary: #202f36;
    --secondary_light: #48565b;
    --accent: #aa572a;
}

html {
    font-family: 'DIN Next Rounded LT W01 Regular';
    background-color: var(--background);
}
body {
    margin: 0;
    padding: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
code {
    font-family:
        Menlo,
        Monaco,
        Lucida Console,
        Liberation Mono,
        DejaVu Sans Mono,
        Bitstream Vera Sans Mono,
        Courier New,
        monospace;
}
* {
    box-sizing: border-box;
    box-shadow: none !important;
}
.toast {
    background: var(--primary);
    color: var(--secondary);
    font-weight: 1000;
}
