---
interface Props {
    title: string;
}

const { title } = Astro.props;

const background = "#131F22";
---

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="description" content="Astro description" />
        <meta name="viewport" content="width=device-width" />
        <link rel="icon" type="image/svg+xml" href="/squirdle/favicon.ico" />
        <meta name="generator" content={Astro.generator} />
        <title>{title}</title>
    </head>
    <body>
        <slot />
    </body>
</html>
<style is:global define:vars={{ background }}>
    @import url("https://db.onlinewebfonts.com/c/ab596f21664c5582567537d241e2a53e?family=DIN+Next+Rounded+LT+W01+Regular");

    :root {
        --accent-gradient: linear-gradient(
            45deg,
            rgb(var(--accent)),
            #da62c4 30%,
            white 60%
        );
        --text: "#FFFFFF";
        --background: "#131F22";
        --primary: "#FFC800";
        --secondary: "#202F36";
        --secondary_light: "#48565B";
        --accent: "#AA572A";
    }
    html {
        font-family: "DIN Next Rounded LT W01 Regular";
        background-color: var(--background);
    }
    body {
        margin: 0;
        padding: 0;
        width: 100%;
        display: flex;
        justify-content: center;
        flex-direction: column;
    }
    code {
        font-family: Menlo, Monaco, Lucida Console, Liberation Mono,
            DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace;
    }
</style>
